In [25]:
import pandas as pd
import plotly.graph_objects as go
import plotly.express as px

df = pd.read_csv('D:/Cloud/Nastya/IT/python/median_price.csv') # reading data
df.loc[df['State']=='FL'].head(40)
df.loc[df['City'].str.contains('Miami')].head(40)
df_miami = df.loc[df['City']=='Miami']

df_miami.loc[:, df_miami.isna().any()]
# nan_df = df_miami[df_miami.isna().any] # find all rows with NaN


nan_cols = [i for i in df_miami.columns if df_miami[i].isnull().any()] # show columns with NaN
nan_cols

# new_dates = pd.DataFrame()
# for date in df_miami.columns[6:]:
#     new_dates = pd.concat([new_dates, date[:4]])
# new_dates
# df_miami.columns('2010-01')
df_miami.columns[6:]

Index(['2010-01', '2010-02', '2010-03', '2010-04', '2010-05', '2010-06',
       '2010-07', '2010-08', '2010-09', '2010-10', '2010-11', '2010-12',
       '2011-01', '2011-02', '2011-03', '2011-04', '2011-05', '2011-06',
       '2011-07', '2011-08', '2011-09', '2011-10', '2011-11', '2011-12',
       '2012-01', '2012-02', '2012-03', '2012-04', '2012-05', '2012-06',
       '2012-07', '2012-08', '2012-09', '2012-10', '2012-11', '2012-12',
       '2013-01', '2013-02', '2013-03', '2013-04', '2013-05', '2013-06',
       '2013-07', '2013-08', '2013-09', '2013-10', '2013-11', '2013-12',
       '2014-01', '2014-02', '2014-03', '2014-04', '2014-05', '2014-06',
       '2014-07', '2014-08', '2014-09', '2014-10', '2014-11', '2014-12',
       '2015-01', '2015-02', '2015-03', '2015-04', '2015-05', '2015-06',
       '2015-07', '2015-08', '2015-09', '2015-10', '2015-11', '2015-12',
       '2016-01', '2016-02', '2016-03', '2016-04', '2016-05', '2016-06',
       '2016-07', '2016-08', '2016-09'],
      dtype='object')