In [16]:
import os
from pandas_datareader import data
from datetime import datetime as dt
from datetime import datetime
from bokeh.plotting import figure, show, output_file

In [28]:
end=dt(2020,5,15)
start=dt(2019,6,1)

df=data.DataReader('AAPL','av-daily',start,end, api_key=os.getenv('ALPHAVANTAGE_API_KEY'))

def trend(op,cl):
    if op>cl:
        value='Decrease'
    elif cl>op:
        value='Increase'
    else:
        value='Equal'

df['trend']=[trend(op,cl) for op, cl in zip(df.open,df.close)]
df['middle']=(df.open+df.close)/2
df['height']=abs(df.open-df.close)
df

              open     high       low   close    volume trend   middle  height
2019-06-03  175.60  177.920  170.2700  173.30  40396069  None  174.450    2.30
2019-06-04  175.44  179.830  174.5200  179.64  30967961  None  177.540    4.20
2019-06-05  184.28  184.990  181.1400  182.54  29773427  None  183.410    1.74
2019-06-06  183.08  185.470  182.1489  185.22  22526311  None  184.150    2.14
2019-06-07  186.51  191.920  185.7700  190.15  30684393  None  188.330    3.64
...            ...      ...       ...     ...       ...   ...      ...     ...
2020-05-11  308.10  317.050  307.2400  315.01  36486561  None  311.555    6.91
2020-05-12  317.83  319.688  310.9100  311.41  40575263  None  314.620    6.42
2020-05-13  312.15  315.950  303.2100  307.65  50155639  None  309.900    4.50
2020-05-14  304.51  309.790  301.5300  309.54  39732269  None  307.025    5.03
2020-05-15  300.35  307.900  300.2100  307.71  41018416  None  304.030    7.36

[242 rows x 8 columns]